langchain_chroma
google-ai-generativelanguage
google-api-core
google-generativeai
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
PyMuPDF
SQLAlchemy
pysqlite3-binary
st-annotated-text
st-theme
streamlit
streamlit-aggrid
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-option-menu
streamlit-toggle-switch
streamlit-vertical-slider
